.backdrop {
  border-radius: 1.5rem;
  display: block;
  filter: 
    drop-shadow(3px 3px 20px rgb(220, 68, 68)) 
    saturate(130%) 
    contrast(115%);
  margin: 0 auto 2rem;
  width: min(100%, 700px);
}

.movieDetail__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.movieDetail__title {
  display: inline-block;
}

.movieDetail__vote {
  font-weight: var(--font-weight-title2);

  &::before {
    content: '★';
    color: var(--yellow);
    padding-right: .25rem;
  }
}

@media screen and (width <= 450px) {
  .backdrop {
    aspect-ratio: 16/10;
    border-radius: 1rem;
  }
}