.search__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-auto-rows: 350px;
  justify-content: center;
  gap: 2rem;
}

.search__item {
  border-radius: .5rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.search__itemImg {
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transition: transform 500ms;
  width: 100%;

  &:hover {
    transform: scale(1.15);
  }
}

.search__itemBtn {
  border-radius: 50%;
  height: 35px;
  position: absolute;
  right: 15px;
  top: 10px;
  transition: background-color 500ms;
  width: 35px;

  &:hover {
    background-color: hsl(0, 100%, 50%);
  }
}